<div class="main-body">
    <div class="page-wrapper">
            <!-- Page body start -->
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card user-card b-l-warning">
                            <div class="card-block">

                                <div class="owl-carousel carousel-dot owl-theme">
                                    <div>
                                        <iframe class="sliderVideo" src="https://www.youtube.com/embed/haaHf_4Jv2E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div>
                                        <img class="d-block sliderGambar img-fluid" src="../files/assets/images/slider/slider50.jpg" alt="Third slide">
                                    </div>
                                    <div>
                                        <img class="d-block sliderGambar img-fluid" src="../files/assets/images/slider/slider60.jpg" alt="Third slide">
                                    </div>
                                    <div>
                                        <img class="d-block sliderGambar img-fluid" src="../files/assets/images/slider/slider70.jpg" alt="Third slide">
                                    </div>
                                </div>
                            </div>
                        <br>
                    
                            <!-- start isi kuisioner -->
                            <div class="row">

                                <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="card user-card header-card">
                                    <h2 class="hay-sampurasun" style="color: white;">Hai !</h2>
                                </div>
                            <div class="card user-card b-l-warning">
                                <div class="card-block scroll">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                                <img src="..\files\assets\images\Logo-unpas.png" class="img-fluid logo-unpas" alt="User-Profile-Image">
                                        </div>
                                                <div class="col">
                                                            <h3 class="m-b-0 sampurasun">Sampurasun Akang dan Teteh. Untuk memudahkan Cetak Kartu Ujian, isilah Kuisioner Layanan Kepada Mahasiswa terlebih dahulu. 
                                                            Jika anda tidak puas beritahu kami, jika sebaliknya beritahu teman.
                                                            </h3>
                                                            <hr class="garis-sampurasun">
                                                            <button type="button" class="btn btn-warning btn-kuisioner">Isi Kuisioner</button>   
                                                    </div>
                                                </div>
                                                        
                                            </div>                                                                         
                                            </div>

                                    <div class="container">
                                        <div class="card-hay">
                                            <div class="head-card">
                                                <div class="gradient"></div>    
                                            </div>

                                            <div class="isi-card">
                                                
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                
                            <!-- end isi kuisioner -->


                            <!--  start grafik charts -->
                                <div class="col-xl-9 col-md-12">
                                        <div class="card user-card header-card">

                                        <h2 class="pengumuman" style="color: white;">Raihan IPK</h2>
                                </div>
                                <div class="card user-card b-l-warning">
                                    <div class="card-block scroll">
                                        <div class="row align-items-center">
                                                <div class="col">
                                                        <div class="card-block">
                                                            <div id="ipk" style="height:300px"></div>
                                                        </div>
                                                    </div>
                                                </div>                      
                                        </div>                                                                         
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-12">
                                    <div class="card user-card header-card">
                                        <h2 class="log-pengguna" style="color: white;">Raihan SKS</h2>
                                            </div>
                                    <div class="card user-card b-l-warning">
                                                    <div class="card-block"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                                        <canvas id="newuserchart" height="250" width="468" style="display: block; width: 468px; height: 250px;"></canvas>
                                                    </div>
                                                    <div class="card-footer ">
                                                        <div class="row text-center b-t-default">
                                                            <div class="col-4 b-r-default m-t-15">
                                                                <h5>85%</h5>
                                                                <p class="text-muted m-b-0">SKS Telah diambil</p>
                                                            </div>
                                                            <div class="col-4 b-r-default m-t-15">
                                                                <h5>6%</h5>
                                                                <p class="text-muted m-b-0">SKS Sedang diambil</p>
                                                            </div>
                                                            <div class="col-4 m-t-15">
                                                                <h5>9%</h5>
                                                                <p class="text-muted m-b-0">SKS Belum diambil</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                    </div>
                                </div>


                    <!--  end grafik charts -->

                        <!-- start pengumuman dan log pengguna -->

                                    <div class="col-xl-9 col-md-12">
                                        <div class="card user-card header-card">

                                        <h2 class="pengumuman" style="color: white;">Pengumuman</h2>
                                </div>
                                <div class="card user-card b-l-warning">
                                    <div class="card-block scroll">
                                        <div class="row align-items-center">
                                        
                                                <div class="col">

                                                <div id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="accordion-panel">
                                                        <div class="accordion-heading" role="tab" id="headingOne">
                                                            <h3 class="card-title accordion-title">
                                                            <a class="accordion-msg scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                                <i class="fa fa-exclamation-circle" style="color: #E64901;"></i>
                                                                PANDUAN PENGGUNA APLIKASI SISTER
                                                            </a>
                                                        </h3>
                                                        </div>
                                                        <div id="collapseOne" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="accordion-content accordion-desc">
                                                                <p>
                                                                Dalam rangka pengintegrasian layanan karir dan kompetensi dosen, 
                                                                Kementrian Riset Teknologi dan Perguruan Tinggi telah merilis Sistem Informasi Sumber Daya Terintegrasi (SISTER) yang 
                                                                di kelola oleh masing- masing Perguruan Tinggi. Khusus Universitas Pasundan, 
                                                                SISTER telah dapat di akses dan digunakan melalui laman <a href="" class="small-btn">http://sister.unpas.ac.id</a>.
                                                                    Petunjuk Pengguna SISTER untuk Dosen dapat di akses 
                                                                    <a href="" class="small-btn" style="color: #E64901;">DISINI</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-panel">
                                                        <div class="accordion-heading" role="tab" id="headingTwo">
                                                            <h3 class="card-title accordion-title">
                                                            <a class="accordion-msg collapsed scale_active" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                <i class="fa fa-exclamation-circle" style="color: #E64901;"></i>
                                                                AKSES INFRORMASI MELALUI WHATSAPP
                                                            </a>
                                                        </h3>
                                                        </div>
                                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                            <div class="accordion-content accordion-desc">
                                                                <p>
                                                                    Silahkan manfaatkan fasilitas untuk mendapatkan informasi melalui aplikasi <b>SisWA</b>. Caranya klik 
                                                                    <a href="" class="small-btn" style="color: #E64901;">DISINI</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-panel">
                                                        <div class=" accordion-heading" role="tab" id="headingThree">
                                                            <h3 class="card-title accordion-title">
                                                            <a class="accordion-msg collapsed scale_active" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            <i class="fa fa-exclamation-circle" style="color: #E64901;"></i>
                                                                CARA MENGHITUNG IP DAN MEMPROSES STATUS DPP
                                                            </a>
                                                        </h3>
                                                        </div>
                                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                            <div class="accordion-content accordion-desc">
                                                                <p>
                                                                    Jika raihan SKS, Indeks Presentasi (IP) atau Pembayaran DPP anda belum sesuai, silahkan perbaharui sendiri data- data tersebut.<br> Klik 
                                                                    <a href="" class="small-btn" style="color: #E64901;">DISINI</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-panel">
                                                        <div class=" accordion-heading" role="tab" id="headingFour">
                                                            <h3 class="card-title accordion-title">
                                                            <a class="accordion-msg collapsed scale_active" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                                <i class="fa fa-exclamation-circle" style="color: #E64901;"></i>
                                                                CARA MENGUNDUH FOTO PROSESI WISUDA
                                                            </a>
                                                        </h3>
                                                        </div>
                                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                                            <div class="accordion-content accordion-desc">
                                                                <p>
                                                                    Untuk mengetahui cara mendownload foto Prosesi Wisuda secara Oniline klik 
                                                                    <a href="" class="small-btn" style="color: #E64901;">DISINI</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                        </div>
                                                    </div>
                                                        
                                                </div>                                                                         
                                                </div>
                                    </div>

                                    <div class="col-xl-3 col-md-12">
                                        <div class="card user-card header-card">

                                        <h2 class="log-pengguna" style="color: white;">Log Pengguna</h2>


                                </div>
                                <div class="card user-card b-l-warning">
                                <div class="card-block">
                                            <div class="row m-b-25">
                                                <div class="col-auto p-r-0">
                                                    <img src="..\files\assets\images\pp.jpg" alt="" class="img-fluid img-50">
                                                </div>
                                                <div class="col">
                                                    <h6 class="m-b-5" style="color: #353c4e;">173040161 - Syahrul Andri Permana</h6>
                                                    <p class="text-c-pink m-b-0"></p><h6 style="color: #05D85C;"><i class="fa fa-check-circle"></i> TERHUBUNG</h6><p></p>
                                                </div>
                                            </div>
                                            <div class="row m-b-25">
                                                <div class="col-auto p-r-0">
                                                    <img src="..\files\assets\images\pp.jpg" alt="" class="img-fluid img-50">
                                                </div>
                                                <div class="col">
                                                    <h6 class="m-b-5" style="color: #353c4e;">173040110 - Akhmad Agung Alfarisy</h6>
                                                    <p class="text-c-pink m-b-0"></p><h6 style="color: #E40505;"><i class="fa fa-history"></i> &lt; 5 min </h6><p></p>
                                                </div>
                                            </div>
                                            <div class="row m-b-25">
                                                <div class="col-auto p-r-0">
                                                    <img src="..\files\assets\images\pp.jpg" alt="" class="img-fluid img-50">
                                                </div>
                                                <div class="col">
                                                    <h6 class="m-b-5" style="color: #353c4e;">1730401200 - Walady Widarno</h6>
                                                    <p class="text-c-pink m-b-0"></p><h6 style="color: #E40505;"><i class="fa fa-history"></i> 00:23:36 </h6><p></p>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <a href="#!" class="b-b-primary text-primary">Tampilkan Semuanya</a>
                                            </div>
                                        </div>                                                                   
                                                </div>
                                    </div>
                            </div>
                        <!-- end pengumuman dan log pengguna-->
                        </div>
                    </div>
                </div>
                                                                                        
            </div>
            <!-- Page body end -->
    </div>
</div>